<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/PremierJavaFX/src/main/java/fr/afcepf/al31/presentation/PremiereFenetreJavaFX.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="fr.afcepf.al31.presentation.PremiereFenetreJavaFX"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="PremierJavaFX"/>
</launchConfiguration>
